<div class="row">
   
  <!--/.col-->
  <div class="col-sm-6 col-md-6 col-lg-6">
    <div class="card">
      <div class="card-body p-3 clearfix">
        <i class="fa fa-check-square-o bg-success p-3 font-2xl mr-3 float-left"></i>
        <div class="h5 text-warning mb-0 mt-2">Approved</div>
        <!-- <div class="text-muted text-uppercase font-weight-bold font-xs">Approved</div> -->
      </div>
      <div class="card-footer px-3 py-2">
     <a class="font-weight-bold font-xs btn-block text-muted" href="/#/validator-view/approved-documents">View More <i class="fa fa-angle-right float-right font-lg"></i></a>
      </div>
    </div>
  </div>
  <!--/.col-->
  <div class="col-sm-6 col-md-6 col-lg-6">
    <div class="card">
      <div class="card-body p-3 clearfix">
        <i class="fa fa-window-close bg-danger p-3 font-2xl mr-3 float-left"></i>
        <div class="h5 text-danger mb-0 mt-2">Rejected</div>
        <!-- <div class="text-muted text-uppercase font-weight-bold font-xs">Rejected</div> -->
      </div>
      <div class="card-footer px-3 py-2">
        <a class="font-weight-bold font-xs btn-block text-muted" href="/#/validator-view/rejected-documents">View More <i class="fa fa-angle-right float-right font-lg"></i></a>
      </div>
    </div>
  </div>
  <!--/.col-->
</div>

<div class="row">
  <div class="col-sm-12 col-md-12 col-lg-12">
    <div class="mb-3 card">
        <div class="card-header-tab card-header">
            <div class="card-header-title font-size-lg text-capitalize font-weight-normal"> Daily  Statistics</div>
         </div>
        <div class="card-body">

    <form [formGroup]="filterForm">
      <div class="row">



        <div class="form-group col-sm-4">
          <label for="startdate">From</label>
          <input [owlDateTime]="dt1" formControlName="from_date" [owlDateTimeTrigger]="dt1" class="form-control"
            placeholder="Date Time"
            [ngClass]="{ 'is-invalid': filterformstatus &amp;&amp; filterForm.controls.from_date.errors }">
          <owl-date-time #dt1></owl-date-time>
          <error-message [control]="filterForm.controls.from_date" *ngIf="filterformstatus"></error-message>

        </div>
        <div class="form-group col-sm-4">
          <label for="startdate">To</label>
          <input [owlDateTime]="dt2" formControlName="to_date" [owlDateTimeTrigger]="dt2" class="form-control"
            placeholder="Date Time"
            [ngClass]="{ 'is-invalid': filterformstatus &amp;&amp; filterForm.controls.to_date.errors }">
          <owl-date-time #dt2></owl-date-time>
          <error-message [control]="filterForm.controls.to_date" *ngIf="filterformstatus"></error-message>
        </div>
        <div class="form-group col-sm-4">
          <label for="country">&nbsp;&nbsp;</label>
          <button type="button" class="btn form-control  btn-success btn-md " (click)="filterrecords()"> <i
              class="fa fa-search"></i> Search </button>
        </div>

      </div>
    </form>
      
        
            
          
          </div>
      </div>
  
  </div>
</div>
<div class="card">
  <div class="card-header" (click)="isVisualizationCollapsed = !isVisualizationCollapsed"
  [attr.aria-expanded]="!isVisualizationCollapsed" >
    <strong>Visualization</strong>
  </div>
  <div class="card-body" [collapse]="isVisualizationCollapsed" [isAnimated]="true">
    <div id="analyticscontainer" style="min-width: 310px; height: 400px; max-width: 900px; margin: 0 auto"></div>
  </div>
</div>
<div class="card">
  <div class="card-header" (click)="isTabularCollapsed = !isTabularCollapsed"
  [attr.aria-expanded]="!isTabularCollapsed">
    <strong>Tabular Format</strong>
  </div>
  <div class="card-body" [collapse]="isTabularCollapsed" [isAnimated]="true" >
    <div class="row">
      <div class="col-sm-4 col-md-4 col-lg-4 offset-md-8">
        <div class="input-group">
          <div class="input-group-prepend"><span class="input-group-text"><i class="fa fa-search"></i></span></div>
          <input class="form-control " placeholder="Search Here" type="text" [(ngModel)]="searchString">
        </div>
      </div>
      </div>
      <br>
      <div class="table-responsive">
    <table  [mfData]="records" #mf="mfDataTable"
    [mfRowsOnPage]="10"
    class="table table-bordered table-striped  row-border hover" >
    <thead>
      <tr>
        <th>#</th>
        <th>Full Name</th>
        <th>Username</th>
        <th>Department</th>
        <th>Document Status</th>
        <!-- <th>Uploaded</th>
        <th>Metadata Captured</th>
        <th>Approved</th>
        <th>Rejected</th>
        <th>Revoked</th> -->
        <th>Total</th>
        <!-- <th>Action</th> -->
      </tr>
    </thead>
    <tbody *ngIf="records?.length != 0">
      <tr *ngFor="let recordinstance of mf.data | filter : searchString ; let i = index">
        <td>{{i + 1}}</td>
        <td>{{ recordinstance.user__first_name}}  {{recordinstance.user__last_name}}</td>
        <td>{{ recordinstance.user__username }}</td>
        <td>{{ recordinstance.document__department__name }}</td>
        <td>{{ recordinstance.document_status }}</td>
        <!-- <td>{{ recordinstance.uploaded_documents }}</td>
        <td>{{ recordinstance.metadata_captured_documents }}</td>
        <td>{{ recordinstance.approved_documents }}</td>
        <td>{{ recordinstance.rejected_documents }}</td>
        <td>{{ recordinstance.revoked_documents }}</td> -->
        <td>{{ recordinstance.total_count }}</td>
      </tr>
      
      <tr >
        
        <td>Total Documents</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
        <td>{{ total_documents }}</td>
      </tr>
    </tbody>
    <tfoot>
      <tr>
        <td colspan="12">
          Select Records in a page : <mfBootstrapPaginator [rowsOnPageSet]="[5,10,25,100,1000]"></mfBootstrapPaginator>
        </td>
      </tr>
    </tfoot>
    <tbody *ngIf="records?.length == 0">
      <tr>
        <td colspan="9" class="no-data-available">No records to show</td>
      </tr>
    <tbody>
  </table>
  </div>
  </div>
</div>