
<div class="container-fluid">
   <div class="row">
      <div class="col-sm">
         <ngb-tabset [destroyOnHide]="false">
            <ngb-tab title="Create Register">
               <ng-template ngbTabContent class="create-register">                  
                  <ngb-accordion #acc="ngbAccordion" activeIds="ngb-panel-0">
                     <ngb-panel title="Add Trust">
                        <ng-template ngbPanelContent>
                           <form #searchFile="ngForm" novalidate>
                              <div class="row">
                                 <div class="col-sm-12 col-md-8 col-lg-8 offset-md-4">
                                    <div class="input-group">
                                       <div class="input-group-prepend"><span class="input-group-text"><i class="fa fa-search"></i></span>
                                       </div>
                                       <input class="form-control" placeholder="Search Volume Number" type="text" [(ngModel)]='file_no' name="file_no" required>
                                       <button [disabled]="searchFile.form.invalid" class="btn btn-sm btn-success" (click)="searchFileNumber()">Search</button>
                                    </div>
                                 </div>
                              </div>
                           </form>
                           <br>
                           <form #userForm="ngForm"  novalidate (ngSubmit)="userForm.form.reset()" *ngIf="addTrustModel.register !== ''">
                              <div class="form-group">
                                 <label for="ps_number">Ps number</label>
                                 <input type="text" class="form-control" name="ps_number" #ps_number="ngModel" [class.is-invalid]="ps_number.invalid && ps_number.touched"  [(ngModel)]="addTrustModel.ps_number" id="ps_number" required placeholder="ps_number">
                              </div>
                              <div class="form-group">
                                 <label for="trust_name">Trust name</label>
                                 <input type="text" class="form-control" name="trust_name" [(ngModel)]="addTrustModel.trust_name" id="trust_name" placeholder="Trust name" #trust_name="ngModel" [class.is-invalid]="trust_name.invalid && trust_name.touched"  [(ngModel)]="addTrustModel.trust_name" required>
                              </div>
                              <div class="form-group">
                                 <label for="active">Active?</label>
                                 <select class="custom-select" name="active" [(ngModel)]="addTrustModel.status" id="active">
                                    <option value="True">Yes</option>
                                    <option value="False">No</option>
                                 </select>
                              </div>
                              <div class="form-group">
                                 <input type="hidden" class="form-control" name="register" [(ngModel)]="addTrustModel.register" placeholder="File id" #register="ngModel" required readonly>
                              </div>
                              <button [disabled]="userForm.form.invalid" type="submit" class="btn btn-success" (click)="createLevelone()">
                                 <i class="fa fa-bolt" aria-hidden="true"></i>
                                 Create
                              </button>
                           </form>
                       </ng-template>
                     </ngb-panel>
                     <ngb-panel>
                       <ng-template ngbPanelTitle>
                        Registers
                       </ng-template>
                       <ng-template ngbPanelContent>
                              <div class="row">
                                 <div class="col-sm-12 col-md-6 col-lg-6 offset-md-6">
                                    <div class="input-group">
                                       <div class="input-group-prepend"><span class="input-group-text"><i class="fa fa-search"></i></span>
                                       </div>
                                       <input class="form-control" placeholder="Search Name Here" type="text" [(ngModel)]='listFilter'>
                                    </div>
                                 </div>
                              </div>
                              <br>
                              <!-- registers -->
                              <div class="table-responsive">
                                 <div class="card" *ngIf="trustSelected && trustSelected.length && showOutgoing == 'register'">
                                    <div class="card-header">
                                       <span *ngIf='trustName'>{{trustName}} | </span> Current Members
                                       <span style="float:right" (click)="closeRegisterMembers()"><i class="fa fa-times" aria-hidden="false"></i></span>
                                    </div>
                                    <div class="card-body">
                                       <table class="table table-bordered table-striped">
                                          <thead>
                                             <tr>
                                                <th scope="col">Member</th>
                                                <th scope="col" class="text-center">Status</th>
                                             </tr>
                                          </thead>
                                          <tbody>
                                             <tr *ngFor="let data of trustSelected">
                                                <td>
                                                      {{data.trustee_name}}
                                                </td>
                                                <td class="text-center">
                                                   <span class="badge badge-success" *ngIf='data.status === true'><i class="fa fa-check" aria-hidden="false"></i></span>
                                                   <span class="badge badge-danger" *ngIf='data.status === false'><i class="fa fa-times" aria-hidden="false"></i></span>
                                                </td>
                                             </tr>
                                          </tbody>
                                       </table>
                                    </div>
                                 </div>
                                 <div class="update-trust">
                                    <ng-template #content let-modal>
                                       <div class="modal-header">
                                          <h4 class="modal-title">Update Trust</h4>
                                          <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
                                          <span aria-hidden="true">&times;</span>
                                          </button>
                                       </div>
                                       <div class="modal-body">
                                          <form #updateTrustForm="ngForm"  novalidate (ngSubmit)="updateTrustForm.form.reset()"> 
                                          <div class="form-group">
                                             <label for="ps_number">Ps number</label>
                                             <input type="text" class="form-control" name="ps_number" #ps_number="ngModel" [class.is-invalid]="ps_number.invalid && ps_number.touched"  [(ngModel)]="updateTrustModel.ps_number" id="ps_number" required placeholder="ps_number">
                                          </div>
                                          <div class="form-group">
                                             <label for="trust_name">Trust name</label>
                                             <input type="text" class="form-control" name="trust_name" [(ngModel)]="updateTrustModel.trust_name" id="trust_name" placeholder="Trust name" #trust_name="ngModel" [class.is-invalid]="trust_name.invalid && trust_name.touched" required>
                                          </div>
                                          <div class="form-group">
                                             <label for="date_of_incorporation">Date of incorporation</label>
                                             <input type="text" class="form-control" name="date_of_incorporation" [(ngModel)]="updateTrustModel.date_of_incorporation" id="date_of_incorporation" placeholder="Date of incorporation" #date_of_incorporation="ngModel" [class.is-invalid]="date_of_incorporation.invalid && date_of_incorporation.touched"  [(ngModel)]="updateTrustModel.date_of_incorporation" required>
                                          </div>
                                          <div class="form-group">
                                             <label for="date_of_registration">Date of registration</label>
                                             <input type="text" class="form-control" name="date_of_registration" [(ngModel)]="updateTrustModel.date_of_registration" id="date_of_registration" placeholder="Date of registration" #date_of_registration="ngModel" [class.is-invalid]="date_of_registration.invalid && date_of_registration.touched"  [(ngModel)]="updateTrustModel.date_of_registration" required>
                                          </div>
                                          <div class="form-group">
                                             <label for="active">Active?</label>
                                             <select class="custom-select" name="active" [(ngModel)]="updateTrustModel.status" id="active">
                                                <option value="True">Yes</option>
                                                <option value="False">No</option>
                                             </select>
                                          </div>
                                          <div class="form-group">
                                             <input type="hidden" class="form-control" name="id" [(ngModel)]="updateTrustModel.id" placeholder="Register id" #register="ngModel" required readonly>
                                          </div>
                                          <button [disabled]="updateTrustForm.form.invalid" type="submit" class="btn btn-primary" (click)="updateLevelone();modal.close('Close click')">Update</button>
                                          </form>
                                       </div>
                                       <div class="modal-footer">
                                          <button type="button" class="btn btn-light" (click)="modal.close('Close click')">Close</button>
                                       </div>
                                    </ng-template>
                                 </div>
                                 <div class="delete-trust">
                                    <ng-template #deleteContent let-modal>
                                       <div class="modal-body text-center">
                                          <h1 class="text-danger">Record deletion!</h1>
                                          <h5 class="text-info">Do you want to proceed?</h5>
                                          <form #deleteTrustForm="ngForm"  novalidate (ngSubmit)="deleteTrustForm.form.reset()"> 
                                          <div class="form-group">
                                             <input type="hidden" class="form-control" name="id" [(ngModel)]="updateTrustModel.id" placeholder="Register id" #register="ngModel" required readonly>
                                          </div>
                                          <button [disabled]="deleteTrustForm.form.invalid" type="submit" class="btn btn-danger" (click)="deleteLevelone();modal.close('Close click')">Yes Proceed</button>
                                          &nbsp;
                                          <button [disabled]="deleteTrustForm.form.invalid" type="submit" class="btn btn-info" (click)="modal.close('Close click')">Cancel</button>
                                          </form>
                                       </div>
                                    </ng-template>
                                 </div>
                              </div>
                              <div>
                                 <table class="table table-bordered" >
                                    <thead>
                                       <tr>
                                          <th scope="col">Ps Number</th>
                                          <th scope="col">Trust Name</th>
                                          <th scope="col">Date of Incorporation</th>
                                          <th scope="col">Date of Registration</th>
                                          <th scope="col">Status</th>
                                          <th scope="col">Action</th>
                                       </tr>
                                    </thead>
                                    <td colspan=6 *ngIf='filteredleveloneData && !filteredleveloneData.length' class="text-danger"> No register data available!
                                    </td>
                                    <tbody>
                                       <tr *ngFor="let trust of filteredleveloneData">
                                          <td>{{trust.ps_number}}</td>
                                          <td><span (click)="leveloneClicked(trust)">{{trust.trust_name}}</span></td>
                                          <td class="text-center">{{trust.date_of_incorporation}}</td>
                                          <td class="text-center">{{trust.date_of_registration}}</td>
                                          <td class="text-center">
                                             <span class="text-success" *ngIf="trust.status === true">
                                             <i class="fa fa-check" aria-hidden="false"></i>
                                             </span>
                                             <span class="text-danger" *ngIf="trust.status === false">
                                             <i class="fa fa-times" aria-hidden="false"></i>
                                             </span>
                                          </td>
                                          <td class="text-center">
                                             <a class="text-warning" (click)="TrustClicked(trust)"><i class="fa fa-info-circle" aria-hidden="false"></i></a>
                                             <br>
                                             <a class="text-info" (click)="TrustClickedUpdate(trust); openWindowCustomClass(content)"><i class="fa fa-pencil" aria-hidden="false"></i></a>
                                             <br>
                                             <a class="text-danger" (click)="TrustClickedUpdate(trust); openVerticallyCentered(deleteContent)"><i class="fa fa-times" aria-hidden="false"></i></a>
                                          </td>
                                       </tr>
                                    </tbody>
                                 </table>
                              </div>
                       </ng-template>
                     </ngb-panel>
                   </ngb-accordion>
               </ng-template>
            </ngb-tab>
            <div class="delete-member">
               <ng-template #deleteMemberModal let-modal>
                  <div class="modal-body text-center">
                     <h4 class="text-danger">You are about to delete a Trust member!</h4>
                     <h5 class="text-info">Do you want to proceed?</h5>
                     <br>
                     <button type="submit" class="btn btn-danger" (click)="deleteMember(); modal.close('Close click')">Yes Proceed</button>
                     &nbsp;
                     <button type="submit" class="btn btn-info" (click)="modal.close('Close click')">Cancel</button>
                  </div>
               </ng-template>
            </div>
            <!-- tab 2 -->
            <ngb-tab>
               <ng-template ngbTabTitle>Register Details</ng-template>
                  <ng-template ngbTabContent>
                     <div class="card">
                        <div class="card-header">
                           Update Register Details
                        </div>
                        <div class="card-body">
                           <div class="content">
                              <form #searchPsno="ngForm" novalidate (ngSubmit)="searchPsNumber()">
                                 <div class="row">
                                    <div class="col-sm-12 col-md-8 col-lg-8 offset-md-4">
                                       <div class="input-group">
                                          <div class="input-group-prepend">
                                             <span class="input-group-text">
                                                <i class="fa fa-search"></i>
                                             </span>
                                          </div>
                                          <input class="form-control" placeholder="Search Ps Number" type="text" [(ngModel)]='ps_no' name="ps_no" required>
                                          <button [disabled]="searchPsno.form.invalid" class="btn btn-sm btn-success" type="submit">Search</button>
                                       </div>
                                    </div>
                                 </div>
                              </form>
                              <br>
                              <form #registerDetailsForm="ngForm"  novalidate (ngSubmit)="registerDetailsForm.controls['date_of_incorporation'].reset();registerDetailsForm.controls['date_of_registration'].reset()">
                                 <div class="form-group">
                                    <label for="trust_name">Trust name</label>
                                    <input type="text" class="form-control" name="trust_name" [(ngModel)]="createdTrustName" id="trust_name" placeholder="Trust name" #trust_name="ngModel" readonly>
                                    <input type="hidden" class="form-control" name="trust_id" #trust_id="ngModel" [(ngModel)]="addTrustDetailsModel.trust_id" id="trust_id" required readonly>
                                 </div>
                                 <div class="form-group">
                                    <label for="date_of_incorporation">Date of incorporation</label>
                                    <input type="date" class="form-control" name="date_of_incorporation" [(ngModel)]="addTrustDetailsModel.date_of_incorporation" id="date_of_incorporation" placeholder="Date of incorporation" #date_of_incorporation="ngModel" [class.is-invalid]="date_of_incorporation.invalid && date_of_incorporation.touched" required>
                                 </div>
                                 <div class="form-group">
                                    <label for="date_of_registration">Date of registration</label>
                                    <input type="date" class="form-control" name="date_of_registration" [(ngModel)]="addTrustDetailsModel.date_of_registration" id="date_of_registration" placeholder="Date of registration" #date_of_registration="ngModel" [class.is-invalid]="date_of_registration.invalid && date_of_registration.touched" required>
                                 </div>
                                 <button [disabled]="registerDetailsForm.form.invalid" type="submit" class="btn btn-success" (click)="createTrustDetails()">
                                    <i class="fa fa-bolt" aria-hidden="true"></i>
                                    Save
                                 </button>
                              </form>
                           </div>
                        </div>
                     </div>
               </ng-template>
            </ngb-tab>
            <!-- tab 3 -->
            <ngb-tab>
               <ng-template ngbTabTitle>Upload File</ng-template>
                  <ng-template ngbTabContent>
                     <div class="card">
                        <div class="card-header">
                           Upload Trust File
                        </div>
                        <div class="card-body">
                           <div class="content">
                              <form #searchPsno="ngForm" novalidate (ngSubmit)="searchPsNumber()">
                                 <div class="row">
                                    <div class="col-sm-12 col-md-8 col-lg-8 offset-md-4">
                                       <div class="input-group">
                                          <div class="input-group-prepend">
                                             <span class="input-group-text">
                                                <i class="fa fa-search"></i>
                                             </span>
                                          </div>
                                          <input class="form-control" placeholder="Search Ps Number" type="text" [(ngModel)]='ps_no' name="ps_no" required>
                                          <button [disabled]="searchPsno.form.invalid" class="btn btn-sm btn-success" type="submit">Search</button>
                                       </div>
                                    </div>
                                 </div>
                              </form>
                              <br>
                              <form #compareForm1="ngForm"  enctype="multipart/form-data" novalidate (ngSubmit)="saveformData()">
                                 <div class="form-group">
                                    <label for="document2">File</label>
                                    <input type="file" class="form-control" name="document" [(ngModel)]="document" (change)="handleFileupload($event)" required>
                                 </div>
                                 <button [disabled]="compareForm1.form.invalid" type="submit" class="btn btn-primary">
                                    <i class="fa fa-upload" aria-hidden="true"></i>
                                    Upload
                                 </button>
                              </form>
                           </div>
                        </div>
                     </div>
               </ng-template>
            </ngb-tab>
            <!-- tab 4 -->
            <ngb-tab>
               <ng-template ngbTabTitle>Incoming Trustees</ng-template>
               <ng-template ngbTabContent>
                  <div class="card">
                     <div class="card-header">
                        Add Incoming Trustees
                     </div>
                     <div class="card-body">
                        <form #searchPsno="ngForm" novalidate (ngSubmit)="searchPsNumber()">
                           <div class="row">
                              <div class="col-sm-12 col-md-8 col-lg-8 offset-md-4">
                                 <div class="input-group">
                                    <div class="input-group-prepend">
                                       <span class="input-group-text">
                                          <i class="fa fa-search"></i>
                                       </span>
                                    </div>
                                    <input class="form-control" placeholder="Search Ps Number" type="text" [(ngModel)]='ps_no' name="ps_no" required>
                                    <button [disabled]="searchPsno.form.invalid" class="btn btn-sm btn-success" type="submit">Search</button>
                                 </div>
                              </div>
                           </div>
                        </form>
                        <br>
                        <form #incomingTrusteeForm="ngForm" novalidate (ngSubmit)="incomingTrusteeForm.controls['trustee_name'].reset();">
                           <!-- <div class="form-group">
                              <label>Trust</label>
                              <ng-select [searchable]="true" [clearable]="true" name="trust" [(ngModel)]="addIncomingTrusteeModel.trust"
                              [ngClass]="{ 'is-invalid': documenttypeformstatus &amp;&amp; incomingTrusteeForm.controls.trust.errors }" (change)="TrustClickedGetOne()">
                                 <ng-option [value]="trust.id" *ngFor="let trust of levelone">
                                 {{ trust.trust_name }}
                                 </ng-option>
                              </ng-select>
                              <error-message [control]="incomingTrusteeForm.controls.trust" *ngIf="documenttypeformstatus">
                              </error-message>
                           </div> -->
                           <div class="form-group">
                              <label for="trust">Trust</label>
                              <input type="text" class="form-control" name="trust" #trust="ngModel" [class.is-invalid]="trust.invalid && trust.touched"  [(ngModel)]="addIncomingTrusteeModel.trust" id="trust" required placeholder="trust" readonly>
                              <input type="hidden" class="form-control" name="trust_id" #trust_id="ngModel" [(ngModel)]="addIncomingTrusteeModel.trust_id" id="trust_id" required readonly>
                           </div>
                           <div class="form-group">
                              <label for="ps_number">Trustee name</label>
                              <input type="text" class="form-control" name="trustee_name" #trustee_name="ngModel" [class.is-invalid]="trustee_name.invalid && trustee_name.touched"  [(ngModel)]="addIncomingTrusteeModel.trustee_name" id="trustee_name" required placeholder="trustee_name">
                           </div>
                           <div class="form-group">
                              <label for="endorsement_date">Endorsement date</label>
                              <input type="date" class="form-control" name="endorsement_date" [(ngModel)]="addIncomingTrusteeModel.endorsement_date" id="endorsement_date" placeholder="Endorsement Date" #endorsement_date="ngModel" [class.is-invalid]="endorsement_date.invalid && endorsement_date.touched"  [(ngModel)]="addIncomingTrusteeModel.endorsement_date" required>
                           </div>
                           <div class="form-group">
                              <label for="date_registered">Date registered</label>
                              <input type="date" class="form-control" name="date_registered" [(ngModel)]="addIncomingTrusteeModel.date_registered" id="date_registered" placeholder="Date of incorporation" #date_registered="ngModel" [class.is-invalid]="date_registered.invalid && date_registered.touched"  [(ngModel)]="addTrustModel.date_registered" required>
                           </div>
                           <div class="form-group">
                              <label for="active">Active?</label>
                              <select class="custom-select" name="active" [(ngModel)]="addIncomingTrusteeModel.status" id="active" required>
                                 <option value="True">Yes</option>
                                 <option value="False">No</option>
                              </select>
                           </div>
                           <button [disabled]="incomingTrusteeForm.form.invalid" type="submit" class="btn btn-primary" (click)="createLevelthree()" *ngIf="!trustee_id"><i class="fa fa-bolt" aria-hidden="true"></i> Save</button>
                           <button [disabled]="incomingTrusteeForm.form.invalid" type="submit" class="btn btn-success" (click)="updateLevelthree()" *ngIf="trustee_id"><i class="fa fa-bolt" aria-hidden="true"></i> Update</button>
                           <button [disabled]="incomingTrusteeForm.form.invalid" type="submit" class="btn btn-warning" (click)="cancelUpdateLevelthree();incomingTrusteeForm.controls['endorsement_date'].reset();incomingTrusteeForm.controls['date_registered'].reset();incomingTrusteeForm.controls['trustee_name'].reset()" *ngIf="trustee_id"><i class="fa fa-bolt" aria-hidden="true"></i> Cancel</button>
                        </form>
                     </div>
                  </div> <!--end card-->
                  <!-- Incoming members -->
                  <!-- <div class="card" *ngIf="trustSelected && trustSelected.length && showOutgoing == 'incoming'"> -->
                  <div class="card" *ngIf="trustSelected && trustSelected.length">
                     <div class="card-header">
                        <span *ngIf='trustName'>{{trustName}} | </span> Current Members 
                     </div>
                     <div class="card-body">
                        <table class="table table-bordered table-striped">
                           <thead>
                              <tr>
                                 <th scope="col">Member</th>
                                 <th scope="col" class="text-center">Status</th>
                                 <th scope="col" class="text-center">Action</th>
                              </tr>
                           </thead>
                           <tbody>
                              <tr *ngFor="let data of trustSelected">
                                 <td>
                                    {{data.trustee_name}}
                                 </td>
                                 <td class="text-center">
                                    <span class="badge badge-success" *ngIf='data.status === true'><i class="fa fa-check" aria-hidden="false"></i></span>
                                    <span class="badge badge-danger" *ngIf='data.status === false'><i class="fa fa-times" aria-hidden="false"></i></span>
                                 </td>
                                 <td class="text-center">
                                    <span class="text-info" (click)="levelthreeClicked(data)"><i class="fa fa-pencil" aria-hidden="false"></i></span>
                                    &nbsp;
                                    <span class="text-danger" (click)="setTrusteeId(data.id); openVerticallyCentered(deleteMemberModal)"><i class="fa fa-trash" aria-hidden="false"></i></span>                                   
                                 </td>
                              </tr>
                           </tbody>
                        </table>
                     </div>
                  </div>
               </ng-template>
            </ngb-tab>
            <ngb-tab>
               <ng-template ngbTabTitle>Outgoing Trustees</ng-template>
               <ng-template ngbTabContent>
                  <div class="card">
                     <div class="card-header">
                        Add Outgoing Trustees
                     </div>
                     <div class="card-body">
                        <form #searchPsno="ngForm" novalidate (ngSubmit)="searchPsNumber()">
                           <div class="row">
                              <div class="col-sm-12 col-md-8 col-lg-8 offset-md-4">
                                 <div class="input-group">
                                    <div class="input-group-prepend">
                                       <span class="input-group-text">
                                          <i class="fa fa-search"></i>
                                       </span>
                                    </div>
                                    <input class="form-control" placeholder="Search Ps Number" type="text" [(ngModel)]='ps_no' name="ps_no" required>
                                    <button [disabled]="searchPsno.form.invalid" class="btn btn-sm btn-success" type="submit">Search</button>
                                 </div>
                              </div>
                           </div>
                        </form>
                        <br>
                        <!-- <form #outgoingGetForm="ngForm" novalidate >
                           <div class="form-group">
                              <label>Select Trust</label>
                              <ng-select [searchable]="true" [clearable]="true" name="ps_number" [(ngModel)]="addTrustModel.ps_number"
                              [ngClass]="{ 'is-invalid': documenttypeformstatus &amp;&amp; incomingTrusteeForm.controls.trust.errors }" (change)="TrustClickedGet()">
                                 <ng-option [value]="trust.id" *ngFor="let trust of levelone" >
                                    {{ trust.trust_name }}
                                 </ng-option>
                              </ng-select>
                              <error-message [control]="outgoingGetForm.controls.ps_number" *ngIf="documenttypeformstatus">
                              </error-message>
                           </div>
                        </form>
                        <br> -->
                        <form #outgoingTrusteeForm="ngForm" novalidate (ngSubmit)="outgoingTrusteeForm.controls['trustee_name'].reset();outgoingTrusteeForm.controls['date_deregistered'].reset()">
                           <div class="form-group">
                              <label for="trust">Trust</label>
                              <input type="text" class="form-control" name="trust" #trust="ngModel" [class.is-invalid]="trust.invalid && trust.touched"  [(ngModel)]="createdTrustName" id="trust" required placeholder="trust" readonly>
                              <input type="hidden" class="form-control" name="trust_id" #trust_id="ngModel" [(ngModel)]="addOutgoingTrusteeModel.trust_id" id="trust_id" required readonly>
                           </div>
                           <div class="form-group">
                              <label for="active">Outgoing Trustee</label>
                              <ng-select [searchable]="true" [clearable]="true" name="trustee_name" [(ngModel)]="addOutgoingTrusteeModel.trustee_name"
                              [ngClass]="{ 'is-invalid': documenttypeformtrustee_name &amp;&amp; outgoingTrusteeForm.controls.trustee_name.errors }">
                                 <ng-option [value]="trustee.id" *ngFor="let trustee of trustActiveSelected" >
                                    {{ trustee.trustee_name }}
                                 </ng-option>
                              </ng-select>
                              <error-message [control]="outgoingTrusteeForm.controls.replaced_by" *ngIf="documenttypeformreplaced_by">
                              </error-message>
                           </div>
                           <!-- <div class="form-group">
                              <label for="active">Incoming Trustee</label>
                              <ng-select [searchable]="true" [clearable]="true" name="replaced_by" [(ngModel)]="addOutgoingTrusteeModel.replaced_by"
                              [ngClass]="{ 'is-invalid': documenttypeformreplaced_by &amp;&amp; outgoingTrusteeForm.controls.replaced_by.errors }">
                              <ng-option [value]="trustee.id" *ngFor="let trustee of trustActiveSelected" >
                              {{ trustee.trustee_name }}
                              </ng-option>
                              </ng-select>
                              <error-message [control]="outgoingTrusteeForm.controls.replaced_by" *ngIf="documenttypeformreplaced_by">
                              </error-message>
                           </div> -->
                           <div class="form-group">
                              <label for="date_registered">Date deregistered</label>
                              <input type="date" class="form-control" name="date_deregistered" [(ngModel)]="addOutgoingTrusteeModel.date_deregistered" id="date_deregistered" placeholder="Date deregistered" #date_deregistered="ngModel" [class.is-invalid]="date_deregistered.invalid && date_deregistered.touched"  [(ngModel)]="addOutgoingTrusteeModel.date_deregistered" required>
                           </div>
                           <button [disabled]="outgoingTrusteeForm.form.invalid" type="submit" class="btn btn-primary" (click)="createLevelfour()">
                              <i class="fa fa-bolt" aria-hidden="true"></i> 
                              Save
                           </button>
                        </form>
                     </div>
                  </div>
                  <div class="card" *ngIf="trustSelected && trustSelected.length && showOutgoing == 'outgoing'">
                     <div class="card-header">
                        <span *ngIf='trustName'>{{trustName}} | </span> Current Members
                     </div>
                     <div class="card-body">
                        <table class="table table-bordered table-striped">
                           <thead>
                              <tr>
                                 <th scope="col">Member</th>
                                 <th scope="col" class="text-center">Status</th>
                              </tr>
                           </thead>
                           <tbody>
                              <tr *ngFor="let data of trustSelected">
                                 <td>
                                    {{data.trustee_name}}
                                 </td>
                                 <td class="text-center">
                                    <span class="badge badge-success" *ngIf='data.status === true'><i class="fa fa-check" aria-hidden="false"></i></span>
                                    <span class="badge badge-danger" *ngIf='data.status === false'><i class="fa fa-times" aria-hidden="false"></i></span>
                                 </td>
                              </tr>
                           </tbody>
                        </table>
                     </div>
                  </div>
               </ng-template>
            </ngb-tab>
            <ngb-tab>
               <ng-template ngbTabTitle>Document submission</ng-template>
               <ng-template ngbTabContent>
                  <div class="card">
                     <div class="card-header">
                        File Comments
                     </div>
                     <div class="card-body">
                        <div class="row">
                           <div class="col-sm-12 col-md-4 col-lg-4 offset-md-8">
                              <div class="input-group">
                                 <div class="input-group-prepend"><span class="input-group-text"><i class="fa fa-search"></i></span>
                                 </div>
                                 <input class="form-control" placeholder="Search Here" type="text">
                              </div>
                           </div>
                        </div>
                        <br>
                        <div class="table-responsive">
                           <table class="table table-striped table-bordered  table-sm table-hover">
                              <thead>
                                 <tr>
                                    <th>#</th>
                                    <th>Comment</th>
                                    <th>Username</th>
                                    <th>Full Names</th>
                                    <th>Comment Date</th>
                                 </tr>
                              </thead>
                              <tfoot>
                                 <tr *ngIf="fileComments">
                                    <td colspan="12">
                                       Select Records in a page : 
                                       <span ng-reflect-rows-on-page-set="5,10,25,100,500,1000,1000,1000">
                                          <p>
                                          </p>
                                       </span>
                                    </td>
                                 </tr>
                              </tfoot>
                              <tbody>
                                 <tr *ngIf="!fileComments">
                                    <td class="no-data-available" colspan="9">No records to show</td>
                                 </tr>
                              </tbody>
                              <tbody>
                                 <tr *ngFor="let data of fileComments">
                                    <td></td>
                                    <td>{{data.comments}}</td>
                                    <td>{{data.user.username}}</td>
                                    <td>{{data.user.first_name}} {{data.user.last_name}}</td>
                                    <td>{{data.action_time | date}}</td>
                                 </tr>
                              </tbody>
                           </table>
                        </div>
                     </div>
                  </div>
                  <div class="card">
                     <div class="card-header">
                        Document Action
                     </div>
                     <div class="card-body">
                        <form novalidate #remarksForm="ngForm" (ngSubmit)="remarksForm.controls['remarks'].reset();remarksForm.controls['general_status'].reset()">
                           <div class="row">
                              <div class="col-sm-12 col-md-6 col-lg-6">
                                 <label>Status</label>
                                 <select class="form-control" [ngClass]="{ 'is-invalid': remarkformstatus &amp;&amp; remarksForm.controls.general_status.errors }" name="general_status" [(ngModel)]="addCommentModel.general_status">
                                    <option *ngFor="let doc_status of fileStatus" value={{doc_status.code}}>
                                       {{doc_status.name}}
                                    </option>
                                 </select>
                                 <error-message [control]="remarksForm.controls.general_status" *ngIf="remarkformstatus">
                                 </error-message>
                              </div>
                              <div class="col-sm-12 col-md-12 col-lg-12">
                                 <label>General Remarks</label>
                                 <textarea class="form-control" name="remarks"
                                 [ngClass]="{ 'is-invalid': remarkformstatus &amp;&amp; remarksForm.controls.remarks.errors }" [(ngModel)]="addCommentModel.remarks" required>
                                 </textarea>
                                 <error-message [control]="remarksForm.controls.remarks" *ngIf="remarkformstatus"></error-message>
                              </div>
                              <div class="form-group">
                                 <!-- <label>Document Id</label> -->
                                 <input type="hidden" class="form-control" name="document" [(ngModel)]="addCommentModel.document_id" #document="ngModel" required>
                              </div>
                           </div>
                           <br />
                           <div class="row">
                              <div class="col-sm-12 col-md-6 col-lg-6" >
                                 <button type="submit" class="btn btn-success col-md-12" (click)="createComments()" [disabled]="remarksForm.form.invalid">
                                 <i class="fa fa-check fa-1x"></i>
                                 <i class="fa fa-bolt" aria-hidden="true"></i> Submit</button>
                              </div>
                           </div>
                        </form>
                     </div>
                  </div>
               </ng-template>
            </ngb-tab>
         </ngb-tabset>
      </div>
      <!-- 2nd column -->
      <div class="col-sm">
         <ngb-tabset [destroyOnHide]="false">
            <ngb-tab title="Register Index Preview">
                <ng-template ngbTabContent class="create-register">                  
                   <ngb-accordion #acc="ngbAccordion" activeIds="ngb-panel-0">
                        <ngb-panel title="Index Preview">
                           <ng-template ngbPanelContent>
                              
                              <div class="col-md-12" *ngIf="document_url != null"> 
                                 <iframe [src]="document_url | safe" frameborder="0" width="100%" height="660px" allowfullscreen></iframe>
                              </div>
                              <div class="col-md-12 text-center" *ngIf="document_url == null"> 
                                 <small class="text-primary">Waiting for document...</small>
                                 <p></p>
                                 <p class="loader"></p> 
                                 <style>
                                    .loader {
                                       border: 16px solid #f3f3f3; /* Light grey */
                                       border-top: 16px solid #3498db; /* Blue */
                                       border-radius: 50%;
                                       width: 120px;
                                       height: 120px;
                                       animation: spin 30s linear infinite;
                                       margin-left: auto;
                                       margin-right: auto;
                                    }

                                    @keyframes spin {
                                       0% { transform: rotate(0deg); }
                                       100% { transform: rotate(360deg); }
                                    }
                                 </style>
                              </div>
                                    
                           </ng-template>
                        </ngb-panel>                        
                        <!-- end card 1 -->
                        <!-- start card 2 -->
                        <ngb-panel>
                           <ng-template ngbPanelTitle>
                              Trust Document Preview
                           </ng-template>
                           <ng-template ngbPanelContent>
                              
                              <div class="col-md-12" *ngIf="uploaded_file_url != null"> 
                                 <iframe [src]="uploaded_file_url | safe" frameborder="0" width="100%" height="660px" allowfullscreen></iframe>
                              </div>
                              <div class="col-md-12 text-center" *ngIf="uploaded_file_url == null"> 
                                 <small class="text-primary">Waiting for document...</small>
                                 <p></p>
                                 <p class="loader"></p> 
                                 <style>
                                    .loader {
                                       border: 16px solid #f3f3f3; /* Light grey */
                                       border-top: 16px solid #3498db; /* Blue */
                                       border-radius: 50%;
                                       width: 120px;
                                       height: 120px;
                                       animation: spin 30s linear infinite;
                                       margin-left: auto;
                                       margin-right: auto;
                                    }

                                    @keyframes spin {
                                       0% { transform: rotate(0deg); }
                                       100% { transform: rotate(360deg); }
                                    }
                                 </style>
                              </div>
                                     
                              <!-- end card 2 -->
                           </ng-template>
                        </ngb-panel>
                    </ngb-accordion>
                </ng-template>
            </ngb-tab>
        </ngb-tabset>
      </div>
   </div>
</div>

