<div class="animated fadeIn">
  <div class="card">
  
    <div class="card-header">
        Create New User
    </div>
    <div class="card-body">
      <!-- <dynamic-form-builder [fields]="getFields()" (submit)="registeruser($event)"></dynamic-form-builder> -->
  
      <!-- <app-dynamic-form [fields]="regConfig" (submit)="registeruser($event)">
      </app-dynamic-form> -->
      <app-dynamic-form  (submit)="registeruser()">
      </app-dynamic-form>
      <!-- <dynamic-nested-form></dynamic-nested-form> -->
      <div class="margin-top">
      </div>
        </div>
        </div>
        </div>

<!-- 
        <app-common-loader></app-common-loader> -->