<div class="animated fadeIn">
    <div class="card">
    
      <div class="card-header">
       Data Cleaning Metadata Capture
      </div>
      <div class="card-body">
        <div class="row">
         
            <div class="col-md-6">
                
                
                  <div class="col-md-12">
                    <label>Select Document Type *</label>
                    <form [formGroup]="documentTypeForm" >
                      <select class="form-control col-md-12 " formControlName="document_type" (change)="fetchdocumenttypeform($event.target.value)">
                        <option value=""> Select Document Type </option> 
                        
              <option *ngFor="let doc_type of document_list_items" value={{doc_type.id}}>  {{doc_type.name}}</option>
                    </select>

                    </form>
                  </div>
                  <br>
                  <br>

                  <app-dynamic-form (submit)="addRow()">
                  </app-dynamic-form>




               
            </div>


        </div>
        <br />
<div class="row">
 
  <div class="table-responsive">
    <table class="table table-striped table-bordered" [mfData]="formInputRecords" #mf="mfDataTable"
    [mfRowsOnPage]="10">
        <thead>
            <tr>
              <th style="width: 10%">
                #
              </th>
              <th style="width: 20%">
                Survey Parcel Numbering Type
              </th>
              <th style="width: 20%">
                Survey Parcel Number
              </th>
              <th style="width: 20%">
                Registration File No
              </th>
              <th style="width: 20%">
                Administration File No
              </th>
              <th style="width: 20%">
                Valuation File No
              </th>
              <th style="width: 20%">
                Planning File No
              </th>
              <th style="width: 10%">
                Action
              </th>
            </tr>
        </thead>
        <tbody *ngIf="records?.length != 0">
             <tr *ngFor="let dynamic of mf.data; let i = index;">
              <td>{{i + 1}}</td>
              
                <td>
                  {{dynamic.land_survey_parcel_numbering_type}}
                
                </td>
                <td>
                  {{dynamic.land_survey_parcel_number}}
                </td>
                <td>
                  {{dynamic.land_registration_file_number}}
                </td>
                <td>
                  {{dynamic.land_administration_file_number}}
                </td>
                <td>
                  {{dynamic.land_valuation_file_number}}
                </td>
                <td>
                  {{dynamic.physical_planning_file_number}}
                </td>
                <td>
                  <button type="button" class="btn btn-primary  btn-sm " (click)="editRow(dynamic)"> <i
                      class="fa fa-pencil "></i> </button>
                  <button type="button" class="btn btn-danger  btn-sm " (click)="deleteRow(dynamic)"> <i
                      class="fa fa-trash "></i> </button>
                </td>
               
            </tr>
            
        </tbody>
        <tfoot>
          <tr>
            <td colspan="12">
              Select Records in a page : <mfBootstrapPaginator [rowsOnPageSet]="[5,10,25]"></mfBootstrapPaginator>
            </td>
          </tr>
        </tfoot>
        <tbody *ngIf="records?.length == 0">
          <tr>
            <td colspan="9" class="no-data-available">No Data Records Input</td>
          </tr>
        <tbody>
    </table>
   
  </div>
  <button  type="button" class="btn btn-primary col-md-3" (click)="saveformData()" >
    <i class="fa fa-paper-plane-o fa-1x"></i>
    Submit</button>
</div>

          </div>
          </div>
</div>
