<!-- <form [formGroup]="filterForm" class="filter-form">
    <ng-template #recursiveList let-filterFields let-fromGroup="fromGroup">
        <ng-container *ngFor="let item of filterFields; let i = index">
            <ng-container *ngIf="item.group; else default;">
                <p>{{item.title}}</p>
                <div class="row pb-4" [formGroupName]="item.key">
                    <div class="row pb-4" [formArrayName]="item.key">
                    <ng-container *ngTemplateOutlet="recursiveList; context:{ $implicit: item.group, fromGroup: {name: item.key} }"></ng-container>
                </div>
                <button (click)="removeformControl(i,item.key)">Remove</button>
            </ng-container>
           
            <button (click)="removeformControl(i,item.key)">Remove</button>
            <ng-template #default>       
                <div class="col-md-12">
                    <div class="form-group" [formGroupName]="fromGroup.name">
                        <div class="form-group" [formGroupName]="fromGroup.name">
                        <input [type]="item.type" [formControlName]="item.key" [placeholder]="item.title" [name]="item.key" />
                    </div>
                </div>
            </ng-template>
            
        </ng-container>
        
    </ng-template>
    <ng-container *ngTemplateOutlet="recursiveList; context:{ $implicit: filterFields }"></ng-container>
</form>
{{filterForm.value | json }} -->

<form [formGroup]="filterForm" class="filter-form">

 <p> {{main_form_name}}</p>


<div *ngFor="let item of filterForm.controls | keys; let i = index">
    <div [formArrayName]="item">
        <div *ngFor="let todo of filterForm.get(item).controls; index as i">
            {{todo}}
            <input type="text" [formControlName]="i">
          </div>


   <!-- <input [formControlName]="item" type="text"/> -->
    </div>  
</div>
    <!-- Chosen name: {{ filterForm.controls.items.controls[i].controls.name.value }} -->

</form>
{{filterForm.value | json }} 