<div class="animated fadeIn">
    <div class="card">
      <div class="card-header">
        Home
      </div>
      <div class="card-body">
        <!-- <table class="table table-responsive-sm table-hover table-outline mb-0">
          <thead class="thead-light">
            <tr>
              <th class="text-center"><i class="icon-people"></i></th>
              <th>Message</th>
          
              <th>Posted By</th>
  
              <th>Activity</th>
              <th>#</th>
            </tr>
          </thead>
          <tbody>
            <tr  *ngFor="let recordinstance of all_notices | slice:0:10; let i = index">
              <td class="text-center">
                <div class="avatar">
                  <img src="assets/admin.png" class="img-avatar" alt="admin@bootstrapmaster.com">
                  <span class="avatar-status badge-success"></span>
                </div>
              </td>
              <td>
                {{ recordinstance.headline | uppercase }}
              </td>
              <td>
                <div>{{recordinstance.posted_by.username }}</div>
                <div class="small text-muted">
                  <span>edms</span> | v2
                </div>
              </td>
             
              <td>
                <div class="clearfix">
                  <div class="float-left">
               
                  </div>
                 
                    <small class="text-muted">{{ recordinstance.action_time | date : 'medium' }}</small>
             
                </div>
              
              </td>
              <td>
                <button type="button" class="btn btn-success  btn-sm " (click)="viewrecord(recordinstance.id)"> <i
                    class="fa fa-eye "></i> </button>
     
              </td>
             
        
            </tr>
  
          
          </tbody>
        </table> -->
        </div>
      </div>
      </div>


