<div class="row">

    <!--/.col-->
    <div class="col-12 col-lg-12">
        <div class="card">
            <div class="card-header">
                <strong>User Details</strong>
            </div>
            <div class="card-body">
                <tabset>

                    <tab>
                        <ng-template tabHeading><i class="fa fa-group"></i> Account Details&nbsp;<span
                                class="badge badge-success">Bio Data</span></ng-template>
                        <form [formGroup]="AccountDetailsForm">
                            <div class="row col-md-12">
                                <div class="form-group col-sm-4">
                                    <label for="lastname">Username</label>
                                    <input type="text" class="form-control" formControlName="username" >
                                </div>
                                <div class="form-group col-sm-4">
                                    <label for="lastname">First Name</label>
                                    <input type="text" class="form-control" formControlName="first_name" >
                                </div>
                                <div class="form-group col-sm-4">
                                    <label for="lastname">Last Name</label>
                                    <input type="text" class="form-control" formControlName="last_name" >
                                </div>
                            </div>
                            <div class="row col-md-12">
                                <div class="form-group col-sm-4">
                                    <label>Current Department</label>
                                    <select class="form-control" formControlName="department_id" readonly >
                                        <option *ngFor="let department of department_list" value={{department.id}}>
                                            {{department.name}}
                                        </option>
                                    </select>
                                </div>

                                <div class="form-group col-sm-4">
                                    <label for="lastname">Account ID</label>
                                    <input type="text" class="form-control" formControlName="id" readonly>
                                </div>
                                <div class="form-group col-sm-4">
                                    <label for="lastname">ID Number</label>
                                    <input type="number" class="form-control" formControlName="id_number" >
                                </div>
                            </div>
                            <div class="row col-md-12">
                                <div class="form-group col-sm-4">
                                    <label>Role</label>
                                    <select multiple class="form-control" formControlName="role_name" >
                                        <option *ngFor="let department of user_roles_list" value={{department.id}}>
                                            {{department.name}}
                                        </option>
                                    </select>
                                </div>
                                <div class="form-group col-sm-4">
                                    <label>&nbsp;</label>
                            <button type="button" class="btn btn-primary col-sm-12" (click)="updatebiodata()"> Update Bio Data</button>
                                </div>
                            </div>
                           

                            
                        </form>
                    </tab>

                    <tab>
                        <ng-template tabHeading><i class="fa fa-mail-forward"></i> Swap Department&nbsp;<span
                                class="badge badge-primary">Change User</span></ng-template>
                        <br>
                        <form [formGroup]="SwapDepartmentForm">
                            <div class="row col-md-12">

                                <div class="form-group col-sm-6">
                                    <label for="lastname">Select New Department</label>
                                    <select class="form-control" formControlName="swap_department_id">
                                        <option value="">Select Department</option>
                                        <option *ngFor="let department of department_list" value={{department.id}}>
                                            {{department.name}}
                                        </option>
                                    </select>
                                </div>
                                <div class="form-group col-sm-6">
                                    <label for="lastname">&nbsp;</label>
                                    <button type="button" class="form-control btn btn-success" (click)="swapdepartment()">Swap
                                        Department</button>
                                </div>

                            </div>

                        </form>


                    </tab>
                    <tab>
                        <ng-template tabHeading><i class="fa fa-gavel"></i>Management&nbsp;<span
                                class="badge badge-danger">Account Activity</span></ng-template>
                        <br>
                        <form [formGroup]="AccountActivityForm">
                        <div class="row col-md-12">

                            <div class="form-group col-sm-6">
                                <label for="lastname">Action</label>
                                <select class="form-control" formControlName="action">
                                    <option value="">Select Action to Perfom</option>
                                    <option *ngFor="let action_passed of action_list" value={{action_passed.id}}>
                                        {{action_passed.name}}
                                    </option>
                                </select>
                            </div>
                            <div class="form-group col-sm-6">
                                <label >Remarks</label>
                                <textarea formControlName="remarks" class="form-control">

                                </textarea>
                            </div>
                            <div class="form-group col-sm-6">
                                <label for="lastname">&nbsp;</label>
                                <button type="button" class="btn btn-success col-sm-12" (click)="actionaccount()"> Submit</button>
                            </div>
                            <div class="form-group col-sm-6">
                                <label>&nbsp;</label>
                        <button type="button" class="btn btn-primary col-sm-12" (click)="resetpassword()"> Reset Password</button>
                            </div>

                        </div>
                        </form>

                    </tab>
                   
                </tabset>
            </div>
        </div>
    </div>
</div>