<div class="animated fadeIn">
    <div class="card">
      <div class="card-header">
        <strong>Documents Pending Meta Data Capture</strong>
      </div>
      <div class="card-body">
       
     
        <div class="margin-top">
       
        </div>
        <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger"
          class="table table-bordered table-striped table-sm row-border hover" style="width:100%">
          <thead>
            <tr>
              <th>#</th>
              <th>File Name</th>
              <th>Date Uploaded</th>
              <th>Status</th>
              <th>File Number</th>
              <th>Action</th>
            </tr>
          </thead>
          <tbody *ngIf="records?.length != 0">
            <tr *ngFor="let recordinstance of records; let i = index">
              <td>{{i + 1}}</td>
              <td>{{ recordinstance.original_file_name }}</td>
              <td>{{ recordinstance.uploaded_time }}</td>
              <td>{{ recordinstance.document_status }}</td>
              <td>{{ recordinstance.file_no }}</td>
              
             
              <td>
                <button type="button" class="btn btn-primary  btn-sm" (click)="capture_metadata(recordinstance.id)"> <i
                    class="fa fa-pencil "></i> </button>
                
              </td>
  
            </tr>
          </tbody>
          <tbody *ngIf="records?.length == 0">
            <tr>
              <td colspan="9" class="no-data-available">No records to show</td>
            </tr>
          <tbody>
        </table>
      </div>
    </div>
  </div>
  