<div class="animated fadeIn">
    <div class="card">
      <div class="card-header">
        <strong>Documents Pending Meta Data Capture</strong>
      </div>
      <div class="card-body">
       
        <div class="row">
          <div class="col-sm-12 col-md-4 col-lg-4 offset-md-8">
            <div class="input-group">
              <div class="input-group-prepend"><span class="input-group-text"><i class="fa fa-search"></i></span></div>
              <input class="form-control " placeholder="Search Here" type="text" [(ngModel)]="searchString">
            </div>
          </div>
          </div>
          <br>
          <div class="table-responsive">

        
        <table [mfData]="records" #mf="mfDataTable"
        [mfRowsOnPage]="10"
          class="table table-bordered table-sm table-striped row-border hover" style="width:100%">
          <thead>
            <tr>
              <th>#</th>
              <th>File Name</th>
              <th>Date Uploaded</th>
              <th>Status</th>
              <th>File Number</th>
              <th>Action</th>
            </tr>
          </thead>
          <tbody *ngIf="records?.length != 0">
            <tr *ngFor="let recordinstance of mf.data | filter : searchString ; let i = index">
              <td>{{i + 1}}</td>
               <td>
                 
                <a target="" [routerLink]="['/clerk-view/document-preview/',recordinstance.id]">
                  {{ recordinstance.original_file_name }}
                </a>
              </td>
              <!-- <td>{{ recordinstance.original_file_name }}</td> -->
              <td>{{ recordinstance.uploaded_time | date : 'medium' }}</td>
              <td>{{ recordinstance.document_status }}</td>
              <td>{{ recordinstance.file_no }}</td>
              
             
              <td>
                <button type="button" class="btn btn-primary  btn-sm" (click)="capture_metadata(recordinstance.id)"> <i
                    class="fa fa-pencil "></i> </button>
                
              </td>
  
            </tr>
          </tbody>
          <tfoot>
            <tr>
              <td colspan="12">
                Select Records in a page : <mfBootstrapPaginator [rowsOnPageSet]="[5,10,25,100,250,1000]"></mfBootstrapPaginator>
              </td>
            </tr>
          </tfoot>
          <tbody *ngIf="records?.length == 0">
            <tr>
              <td colspan="9" class="no-data-available">No records to show</td>
            </tr>
          <tbody>
        </table>
      </div>
      </div>
    </div>
  </div>
  