<div class="animated fadeIn">
    <div class="card">
      <div class="card-header">
        <strong>Document Listing</strong>
      </div>
      <div class="card-body">
        <form [formGroup]="searchForm">
        <div class="row">
         
          <div class="form-group col-sm-6">
            <label for="country">File Number</label>
            <input type="text" class="form-control"  formControlName="search_value" placeholder="Enter File Number">
          </div>
          <div class="form-group col-sm-3">
            <label for="country">&nbsp;&nbsp;</label>
            <button type="button" class="btn form-control  btn-success btn-md " (click)="filterdocuments()" > <i
                class="fa fa-search"></i> Search </button>
          </div>
       
        </div>
      </form>
        <!-- <br> -->
        <div class="row">
          <div class="col-sm-4 col-md-4 col-lg-4 offset-md-8">
            <div class="input-group">
              <div class="input-group-prepend"><span class="input-group-text"><i class="fa fa-search"></i></span></div>
              <input class="form-control " placeholder="Search Here" type="text" [(ngModel)]="searchString">
            </div>
          </div>
          </div>
          <br>
          <div class="table-responsive">
  
        <table [mfData]="records" #mf="mfDataTable"
        [mfRowsOnPage]="10"
          class="table table-bordered table-striped row-border hover" style="width:100%">
          <thead>
            <tr>
              <th>#</th>
              <th>File Number</th>
              <th>Document Type</th>
              <th> Status</th>
              <th> Uploaded By</th>
              <th>File Name</th>
              <th>Date Uploaded</th>
              <th>Action</th>
            </tr>
          </thead>
          <tbody *ngIf="records?.length != 0">
            <tr *ngFor="let recordinstance of mf.data | filter : searchString ; let i = index"
             [ngSwitch]="recordinstance.document_status">
              <td>{{i + 1}}</td>
              <td>{{ recordinstance.file_no }}</td>
              <td>{{ recordinstance.document_keyword | uppercase }}</td>
              <td>
                <div *ngSwitchCase="'APPROVED'">
                  <span class="badge badge-success">
                    APPROVED
                    </span>
                </div>
                <div *ngSwitchCase="'REJECTED'">
                  <span class="badge badge-danger">
                    REJECTED
                    </span>
                </div>
                <div *ngSwitchDefault>
                  <span class="badge badge-primary">
                    {{recordinstance.document_status}}
                    </span>
                </div>
             
              </td>
              <td>{{ recordinstance.uploader }}</td>
              <td>{{ recordinstance.original_file_name }}</td>
              <td>{{ recordinstance.uploaded_time | date : 'medium' }}</td>
              
             
             <td>
                <button type="button" class="btn btn-success  btn-sm " (click)="viewdetails(recordinstance.id)"> <i
                    class="fa fa-pencil-square-o"></i> </button>
                
              </td> 
  
            </tr>
          </tbody>
          <tfoot>
            <tr>
              <td colspan="12">
                Select Records in a page : <mfBootstrapPaginator [rowsOnPageSet]="[5,10,25]"></mfBootstrapPaginator>
              </td>
            </tr>
          </tfoot>
          <tbody *ngIf="records?.length == 0">
            <tr>
              <td colspan="9" class="no-data-available">No records to show</td>
            </tr>
          <tbody>
        </table>
        </div>
      </div>
    </div>
  </div>
  
  