<div bsModal #createModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-success  modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Document Preview</h4> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <h4 class="modal-title">Document Type: <span style="color: red;">{{doc_keyword | uppercase}}</span> </h4>
        <button type="button" class="close" (click)="createModal.hide()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
          <div class="row">
              <div class="col-md-6">
                <!-- <embed  [src]="doc_url_reference | safe" type="application/pdf" width="100%" height="600px" navpanes = "1" toolbar= "0"/> -->
                <iframe [src]="doc_url_reference | safe" frameborder="0" width="100%" height="600px" allowfullscreen></iframe> 
              </div>
              <div class="col-md-6">

<div class="scroll">
  <div [hidden]="is_main_document_field">
<app-dynamic-form>      
</app-dynamic-form> 
</div> 
<div [hidden]="!is_main_document_field"> 
<dynamic-nested-form></dynamic-nested-form>
</div>
  <!-- <app-dynamic-form (submit)="addRow()">      
  </app-dynamic-form>  -->

  <div *ngIf="is_main_document_field">
    <button type="button" class="btn form-control  btn-success btn-md " (click)="editMainForm()" > <i
        class="fa fa-save"></i> Update </button>
        </div>
</div>
            </div>
            

          </div>
      </div>
      
      <div class="modal-footer">
        <!-- <button   class="btn btn-warning col-md-4" (click)="resetForm()">Reset</button>
        <button  type="submit" [disabled]="!createRecordForm.valid" (click)="createRecord()" class="btn btn-success col-md-4">Save</button> -->
      
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div>
<div class="animated fadeIn">
    <div class="card">
      <div class="card-header">
        <strong>Revokation Requests Document Listing</strong>
      </div>
      <div class="card-body">
        <tabset  #staticTabs>

          <tab>
              <ng-template tabHeading><i class="fa fa-group"></i> Record Listing&nbsp;<span
                      class="badge badge-success">Pending Revokation</span></ng-template>
                      <table 
                      class="table table-bordered table-striped table-sm row-border hover" style="width:100%">
                      <thead>
                        <tr>
                          <th>#</th>
                          <th>File Number</th>
                          <th>Document Type</th>
                          <th>Uploaded By</th>
                          <!-- <th>Original File Name</th> -->
                          <th>Status</th>
                          <th>Action</th>
                        </tr>
                      </thead>
                      <tbody *ngIf="records?.length != 0">
                        <tr *ngFor="let recordinstance of records; let i = index">
                          <td>{{i + 1}}</td>
                          <td>{{ recordinstance.file_no }}</td>
                          
                          <td>{{ recordinstance.document_keyword }}</td>
                          <td>{{ recordinstance.uploader }}</td>
                          <!-- <td>{{ recordinstance.original_file_name }}</td> -->
            
                          <td>
                           
                            <div *ngIf="recordinstance.document_status == 'DOCUMENT_UPLOADED'">
                              <span class="badge badge-primary">
                                Uploaded Stage
                                </span>
                            </div>
                            <div *ngIf="recordinstance.document_status == 'DATA_CAPTURED'">
                              <span class="badge badge-warning">
                               Captured Stage
                                </span>
                            </div>
                            <div *ngIf="recordinstance.document_status == 'DATA_PREVALIDATION'">
                              <span class="badge badge-warning">
                                Prevalidation Stage
                                </span>
                            </div>
                            <div *ngIf="recordinstance.document_status == 'DATA_VALIDATION'">
                              <span class="badge badge-warning">
                                Validation Stage
                                </span>
                            </div>
                            <div *ngIf="recordinstance.document_status == 'APPROVED'">
                              <span class="badge badge-success">
                                Approved
                                </span>
                            </div>
                            <div *ngIf="recordinstance.document_status == 'ESCALATED'">
                              <span class="badge badge-primary">
                                Escalated
                                </span>
                            </div>
                            <div *ngIf="recordinstance.document_status == 'REJECTED'">
                              <span class="badge badge-danger">
                                Rejected
                                </span>
                            </div>
                            <div *ngIf="recordinstance.document_status == 'REVOKED'">
                              <span class="badge badge-danger">
                                Rejected
                                </span>
                            </div>
                          </td>
                         
                         <td>
                            <button type="button" class="btn btn-success  btn-sm " (click)="viewdetails(recordinstance.id)"> <i
                                class="fa fa-eye"></i> </button>
                            
                          </td> 
              
                        </tr>
                      </tbody>
                      <tbody *ngIf="records?.length == 0">
                        <tr>
                          <td colspan="9" class="no-data-available">No records to show</td>
                        </tr>
                      <tbody>
                    </table>




                      </tab>
                      <tab heading="Document Captured Preview">
         
                        <div class="card">
                          <div class="card-header">
                            <strong>Document Details</strong>
                          </div>
                          <div class="card-body">
                            <div class="row">
                              <div class="col-sm-12 col-md-4 col-lg-4 offset-md-8">
                                <div class="input-group">
                                  <div class="input-group-prepend"><span class="input-group-text"><i class="fa fa-search"></i></span></div>
                                  <input class="form-control " placeholder="Search Here" type="text" [(ngModel)]="documentrecordsString">
                                </div>
                              </div>
                              </div>
                              <br />
                            <div class="table-responsive">
                              <table 
                              [mfData]="document_details" #documentrecordstable="mfDataTable"
                              [mfRowsOnPage]="10"
                                class="table table-bordered table-striped table-sm row-border hover" style="width:100%">
                                <thead>
                                  <tr>
                                    <th>#</th>
                                    <th>File Number</th>
                                    <th>Folio Number</th>
                                    <th>Action</th>
                                  </tr>
                                </thead>
                                <tbody *ngIf="document_details?.length != 0">
                                  <tr *ngFor="let recordinstance of  documentrecordstable.data | filter : documentrecordsString ; let i = index">
                                    <td>{{i + 1}}</td>
                                    <td>{{ recordinstance.file_number}}</td>
                                    <td>{{ recordinstance.folio_number }}</td>
                                    
                                   
                                   <td>
                                      <button type="button" class="btn btn-primary  btn-sm " (click)="preview_document(recordinstance.id)"> <i
                                          class="fa fa-pencil"></i> </button>
                                      
                                    </td> 
                        
                                  </tr>
                                </tbody>
                                <tbody *ngIf="document_details?.length == 0">
                                  <tr>
                                    <td colspan="9" class="no-data-available">No records to show</td>
                                  </tr>
                                <tbody>
                              </table>
                            </div>
                            <hr>
                      <div class="comments_section">
                        <div class="row">
                          <div class="col-sm-12 col-md-4 col-lg-4 offset-md-8">
                            <div class="input-group">
                              <div class="input-group-prepend"><span class="input-group-text"><i class="fa fa-search"></i></span></div>
                              <input class="form-control " placeholder="Search Here" type="text" [(ngModel)]="commentsearchString">
                            </div>
                          </div>
                          </div>
                          <br />
                          <div class="table-responsive">
                            <table [mfData]="comments" #commentstable="mfDataTable"
                            [mfRowsOnPage]="10"
                            class="table table-striped table-bordered table-sm table-hover row-border" style="width:100%">
                              <thead>
                                <tr>
                             
                                  <th style="width: 10%">
                                    #
                                  </th>
                                  <th style="width: 20%">
                                    <mfDefaultSorter by="type_category.name">Comments </mfDefaultSorter>
                                  </th>
                                  <th style="width: 20%">
                                    <mfDefaultSorter by="type_category.name">Commented By </mfDefaultSorter>
                                  </th>
                                  <th style="width: 20%">
                                    <mfDefaultSorter by="type_category.name">Commented Date </mfDefaultSorter>
                                  </th>
                               
                                  
                                </tr>
                              </thead>
                              <tbody *ngIf="comments?.length != 0">
                                <tr *ngFor="let recordinstance of commentstable.data | filter : commentsearchString ; let i = index">
                                  <td>{{i + 1}}</td>
                                  <td>{{ recordinstance.comments}}</td>
                                  <td>{{ recordinstance.user }}</td>
                                  <td>{{ recordinstance.action_time | date : 'medium'}}</td>
                                  
                    
                      
                                </tr>
                              </tbody>
                              <tfoot>
                                <tr>
                                  <td colspan="12">
                                    Select Records in a page : <mfBootstrapPaginator [rowsOnPageSet]="[5,10,25,100,1000]"></mfBootstrapPaginator>
                                  </td>
                                </tr>
                              </tfoot>
                              <tbody *ngIf="comments?.length == 0">
                                <tr>
                                  <td colspan="9" class="no-data-available">No Comments to show</td>
                                </tr>
                              <tbody>
                            </table>
                            </div>
                
                      </div>
                          </div>
        
                        </div>
         
                       
                      
                      <div class="card">
                        <div class="card-header">
                          <strong>Action</strong>
                        </div>
                        <div class="card-body">
                         
                  
                     <form [formGroup]="DocumentActivityForm">
                                          <div class="row col-md-12">
                  
                                              
                                              <div class="form-group col-sm-6">
                                                <div *ngxPermissionsOnly="['ICT_SUPPORT']">
                                                <label for="lastname">&nbsp;</label>
                                                <button type="submit" class="btn btn-success col-sm-12" (click)="approverequest()"> Approve Request</button>
                                                </div>
                                            </div>
                                              <!-- <div class="form-group col-sm-6">
                                                  <label for="lastname">&nbsp;</label>
                                                  <button type="submit" class="btn btn-success col-sm-12" (click)="actiondocument()"> Submit</button>
                                              </div> -->
                                            
                                          </div>
                                          </form>
                          
                       
                    
                        
                        </div>
                      </div>
                    </tab>
                      </tabset>
       
  
      
      </div>
    </div>
  </div>
  
  