<div class="animated fadeIn">
    <div class="card">
      <div class="card-header">
        <strong>Revokation Requests Document Listing</strong>
      </div>
      <div class="card-body">
        <!-- <form [formGroup]="searchForm">
        <div class="row">
         
          <div class="form-group col-sm-6">
            <label for="country">File Number</label>
            <input type="text" class="form-control"  formControlName="search_value" placeholder="Enter Search Value">
          </div>
          <div class="form-group col-sm-3">
            <label for="country">&nbsp;&nbsp;</label>
            <button type="button" class="btn form-control  btn-success btn-md " (click)="filterdocuments()" > <i
                class="fa fa-search"></i> Search </button>
          </div>
       
        </div>
      </form> -->
        <br>
       
  
        <table 
          class="table table-bordered table-striped table-sm row-border hover" style="width:100%">
          <thead>
            <tr>
              <th>#</th>
              <th>File Number</th>
              <th>Document Type</th>
              <th>Uploaded By</th>
              <th>Original File Name</th>
              <th>Status</th>
              <th>Action</th>
            </tr>
          </thead>
          <tbody *ngIf="records?.length != 0">
            <tr *ngFor="let recordinstance of records; let i = index">
              <td>{{i + 1}}</td>
              <td>{{ recordinstance.file_no }}</td>
              
              <td>{{ recordinstance.document_keyword }}</td>
              <td>{{ recordinstance.uploader }}</td>
              <td>{{ recordinstance.original_file_name }}</td>

              <td>
               
                <div *ngIf="recordinstance.document_status == 'DOCUMENT_UPLOADED'">
                  <span class="badge badge-primary">
                    Uploaded Stage
                    </span>
                </div>
                <div *ngIf="recordinstance.document_status == 'DATA_CAPTURED'">
                  <span class="badge badge-warning">
                   Captured Stage
                    </span>
                </div>
                <div *ngIf="recordinstance.document_status == 'DATA_PREVALIDATION'">
                  <span class="badge badge-warning">
                    Prevalidation Stage
                    </span>
                </div>
                <div *ngIf="recordinstance.document_status == 'DATA_VALIDATION'">
                  <span class="badge badge-warning">
                    Validation Stage
                    </span>
                </div>
                <div *ngIf="recordinstance.document_status == 'APPROVED'">
                  <span class="badge badge-success">
                    Approved
                    </span>
                </div>
                <div *ngIf="recordinstance.document_status == 'ESCALATED'">
                  <span class="badge badge-primary">
                    Escalated
                    </span>
                </div>
                <div *ngIf="recordinstance.document_status == 'REJECTED'">
                  <span class="badge badge-danger">
                    Rejected
                    </span>
                </div>
                <div *ngIf="recordinstance.document_status == 'REVOKED'">
                  <span class="badge badge-danger">
                    Rejected
                    </span>
                </div>
              </td>
             
             <td>
                <button type="button" class="btn btn-success  btn-sm " (click)="viewdetails(recordinstance.id)"> <i
                    class="fa fa-eye"></i> </button>
                
              </td> 
  
            </tr>
          </tbody>
          <tbody *ngIf="records?.length == 0">
            <tr>
              <td colspan="9" class="no-data-available">No records to show</td>
            </tr>
          <tbody>
        </table>
      </div>
    </div>
  </div>
  
  